.top-container{
  display: flex;
  flex-direction: column;
  font-family: oxygen ,sans-serif;
  align-items: center;
  background-color: #445A71;
  height: 100%;
  width: 100%;

  .title{
    color: #fff;
    font-size: 20px;
  }
}
